autopep8>=1.5.7
#backtrader
beautifulsoup4>=4.9.3
#celery>=4.1.0
certifi>=2020.12.5
chardet>=4.0.0
#dill>=0.2.7.1
fake-useragent>=0.1.10
gspread
#idna>=2.10
#joblib
#jupyter
lxml>=4.8.0
#matplotlib>=3.1.0
#metabase
#neo4j-driver>=1.5.1
numpy>=1.22.3
pandas>=1.4.1
#pandas_datareader>=0.7.0
#peewee
pycodestyle>=2.7.0
python-dateutil>=2.8.1
pytz>=2021.1
requests>=2.27.1
scipy>=1.5.0
scrapy
#seaborn
selenium
#soupsieve>=2.2.1
#toml>=0.10.2
urllib3>=1.26.4
#utils
